{{!< default}}

<header class="masthead" {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="header-wrapper">
	    {{#if @blog.logo}}<figure class="logo">
			<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
		</figure>{{/if}}
	    <div class="title">
	    	<a href="{{@blog.url}}">
	        	<h1>{{@blog.title}}</h1>
	        </a>
	      	<p>{{@blog.description}}</p>
	      	<div class="line"></div>
	    </div>
  	    <div class="bottom">
            {{#if @blog.navigation}}
                {{navigation}}
            {{/if}}
        </div>
    </div>
</header>

<section class="container">

	{{> "loop"}}

</section>
